* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width:100%;
    overflow: hidden;
}
body {
    font-family: ainslie-sans, sans-serif;
    
}
/* MODAL */
/* The Modal (background) */
.modall {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    bottom: -100%;
    opacity: 0;
    transition: bottom 1s, opacity 0.4s;
    padding: 0px 100px 0px 100px;
    
}
.modall.show {
    bottom: -20%;
    opacity: 1;
}

/* Modal Content/Box */
.modall-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    
    width: 600px; /* Could be more or less, depending on screen size */
    max-width: 100%; /* Could be more or less, depending on screen size */
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modall-header {
    padding: 2px 16px;
    color: pink;
    height:60px;
}

/* Modal Body */
.modall-body {padding-bottom: 50%}

.modall-body img{
    max-width: 100%;
  height: auto;
}

/* Modal Content */
.modall-content {
    position: relative;
    background-color:white;
    margin: auto;
    height:100%;
    padding: 0;
    overflow:auto;
    width: 80%;
}
 #typing-text {
     position: absolute; 
     overflow: hidden;
     text-align: left;
     resize: none;
     border: none;
     width: 850px;
     height: 50px;
     background: none;
     z-index:2;
     margin-top: 20px;
}
/* END MODAL */
/* INDEX */

nav {
    font-weight: 800;
    font-style: normal;
    font-size: 24pt;
    z-index: 4;
}
nav .navbar-nav  a{
    color: #1c2331;
    margin-left: 30px;
    cursor: pointer;
  }

#box {
    padding: 4%;
    width: 100%;
    height: 50%;
    background-color: rgb(105,136,164);
    position: fixed;
    z-index: -1;
}
#identity {
    position: absolute;
    bottom: -100px;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 20pt;
    font-weight: 200;
    align-content: flex-start;
}

.helloim {
    margin-left:-50%;
    padding-top: 15%;
    color: white;
    line-height: 5%;
}

.name {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100pt;
    color: black;
    line-height: 95%;
}

.subtext {
    padding: 10pt;
    font-size: 18pt;
    font-weight: lighter;
}
.subtext:hover {
    /*this should do something i think idk*/
}

.footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0px; 20px; 0px;
    font-size: 10pt;
    text-align: center;
    width: 100%;
    color: lightgray;
    background-color: white;
}
.footer img{
    width: 30px;
    margin-right: 10px;
}


/* RESUME */
#resume img{
    max-width: 100%;
  height: auto;
}

/* CONTACT */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 #typing-textbold {
     position: absolute; 
     overflow: hidden;
     text-align: left;
     resize: none;
     border: none;
     height: inherit;
     width: 100%;
     height: 60px;
     background: none;
     font-weight: bold;
     z-index: 3;
         padding:0;
}
.form {
    display:flex;
    flex-direction: column;
    width: 100%;
    
}
.form2 {
    display:flex;
    flex-direction: row;
    padding: 0px 100px 0px 100px;
}
form {
    margin-top: 60px;
    z-index: 5;
    font-size: 12pt;
    color: black;  
       
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
    font-weight: bold;
}
input[type=text] {
    border: 3px solid black;
    border-left: none;
    border-radius: 0px 3px 3px 0px;
    width:80%;  
}
#msg {
    border:none;
    border: 3px solid black;
    width: 80%;
}
@keyframes form {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
}

.icon {
    margin-top:6px;
    padding: 15px;
    background: none;
    color: black;
    min-width: 50px;
    text-align: center;
    height:54px;
    border: 3px solid black;
    border-right:none;
    border-radius: 3px 0px 0px 3px;
}

#button button{
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 3px solid black;
    padding: 20px;
    width: 800px;
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#button button:hover {
    background-color: #80a9c4;
    border: 3px solid #80a9c4;
    
}


/* width */
::-webkit-scrollbar {
  width: 0px;
}
