* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width:100%;
    overflow: hidden;
}
body {
    font-family: ainslie-sans, sans-serif;
    
}
/* 

    PAGE  

*/
.page {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    bottom: -100%;
    opacity: 0;
    transition: bottom 1s, opacity 0.4s;
    padding: 0px 100px 0px 100px;
    
}
.page.show {
    bottom: -20%;
    opacity: 1;
}

/* Modal Content/Box */
.page-content {
    margin: 10% auto; /* 15% from the top and centered */
    padding: 0px;
    
    width: 600px; /* Could be more or less, depending on screen size */
    max-width: 100%; /* Could be more or less, depending on screen size */
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Modal Body */
.page-body {
    padding-bottom: 50%}

.page-body img{
    max-width: 100%;
  height: auto;
}

/* Modal Content */
.page-content {
    position: relative;
    background-color:white;
    margin: auto;
    height:100%;
    padding: 0;
    overflow:auto;
    width: 80%;
}
 #typing-text {
     position: absolute; 
     left: 0;
     overflow: hidden;
     text-align: left;
     resize: none;
     border: none;
     width: 850px;
     padding-left: 50px;
     height: auto;
     background: none;
     z-index:2;
     margin-top: 100px;
     font-size: 1vw;
}
/* END PAGE */

/* 


INDEX 


*/

nav {
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;
    z-index: 4;
    
}

 .navbar-light .navbar-nav .nav-link {
color: #2e2e2e;
    margin-left: 30px;
    cursor: pointer;
} 
.navbar-light .navbar-nav .nav-link:hover {
color: black;
}
#box {
    padding: 2%;
    width: 100%;
    height: 60%;
    background-color: #8fb3cf;
    position: fixed;
    z-index: -1;
    min-height: 230px;
}
#identity {
    position: absolute;
    bottom: -15%;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.8vw;
    font-weight: 200;
    align-content: flex-start;
}

.helloim {
    margin-left:-50%;
    padding-top: 15%;
    color: white;
    line-height: 5%;
}

.name {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 9vw;
    color: black;
    line-height: 95%;
}

.subtext {
    padding: 20px;
    font-size: 1.3vw;
    font-weight: lighter;
}
.subtext:hover {
    /*this should do something i think idk*/
}

/* 


PROJECT


*/
.project {
    padding: 80px 100px 0px 100px;
    font-size: 1vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textleft {
    flex:2;
    padding-right: 50px;
}
.photoright{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.textright {
    flex:0.5;
    padding-left: 50px;
}
.photoleft {
    width: 720px;
    border-radius: 50%;
    background-color: antiquewhite;
}
/* IMAGE GALLERY */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  min-height: 500px;
  position: relative;
  margin: auto;
}
.slideshow-container img{
  max-width: 1000px;
    width: 800px;
  height: 500px;
  position: relative;
  margin: auto;
    object-fit: contain;
}
/* Next & previous buttons */
.previmg, .nextimg {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nextimg {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previmg:hover, .nextimg:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* 


ABOUT


*/

#about {
    padding: 80px 100px 0px 100px;
    font-size: 1.5vw;
    text-align: justify;
    display: flex;
    align-items: center;
}
#bio {
    flex:2;
    padding-right: 50px;
}
#picofme {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: antiquewhite;
}

/* 


CONTACT 


*/

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 #typing-textbold {
     position: absolute; 
     overflow: hidden;
     text-align: left;
     resize: none;
     border: none;
     height: inherit;
     width: 100%;
     height: 60px;
     background: none;
     font-weight: bold;
     z-index: 3;
     font-size: 1.5vw;
         padding:0;
}
.form {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    
}
.form2 {
    display:flex;
    padding: 0px 100px 0px 100px;
}
form {
    margin-top: 60px;
    z-index: 1;
    font-size: .9vw;
    color: black;  
       
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
    font-weight: bold;
}
input[type=text] {
   
}
.field {
     border: 3px solid black;
    border-left: none;
    border-radius: 0px 3px 3px 0px;
    width:80%;  
    padding: 10px;
    margin: 10px 0px 10px 0px;
    
}
#msg {
    border:none;
    border: 3px solid black;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin: 6px 0px 0px 0px;
}
@keyframes form {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
    padding-bottom: 0px;
}

.icon {
    margin: 10px 0px 10px 0px;
    top:0px;
    padding: 15px;
    background: none;
    color: black;
    min-width: 50px;
    text-align: center;
    border: 3px solid black;
    border-right:none;
    border-radius: 3px 0px 0px 3px;
}

#button button{
    font-size: 1vw;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 3px solid black;
    padding: 20px;
    width: 80%;
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#button button:hover {
    background-color: #80a9c4;
    border: 3px solid #80a9c4;
    
}


/* width */
::-webkit-scrollbar {
  width: 0px;
}
/*


THANKS


*/
#thanks {
    position: relative;
    background-color:white;
    margin: auto;
    height:100%;
    padding: 0;
    overflow:auto;
    width: 80%;
    background-color: yellow;
}
/*


FOOTER


*/

.footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0px; 20px; 0px;
    font-size: .7vw;
    text-align: center;
    width: 100%;
    color: lightgray;
    background-color: white;
}
.footer img{
    width: 2%;
    margin-right: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}