* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width:100%;
    overflow: hidden;
    font-size:100%;
}
body {
    font-family: ainslie-sans, sans-serif;
    
}
h1 {
    padding: 40px 0px 0px 40px;
    font-weight: 600;
    text-align: left;
}
img { max-width: 100%; height: auto; }
@media (min-width: 480px) { body {font-size:.5rem;} } 
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 
/* 

    PAGE  

*/
.page {
    position: fixed; 
    z-index: 1;
    left: 0;
    width: 100%; 
    height: 100%;
    overflow: none; 
    bottom: -100%;
    opacity: 0;
    transition: bottom 1s, opacity 0.4s;
    
}
.page.show {
    bottom: -20%;
    opacity: 1;
}

.page-content {
    margin: 10% auto; 
    padding: 0px;
    
    width: 600px; 
    max-width: 100%; 
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.page-body {
    padding-bottom: 50%}

.page-body img{
    min-width: 100%;
    height: auto;
}

.page-content {
    position: relative;
    background-color:white;
    margin: auto;
    height:100%;
    padding: 0;
    overflow:auto;
    width: 80%;
}

/* END PAGE */

/* 


INDEX 


*/

nav {
    font-weight: 800;
    font-style: normal;
    font-size: 2vw;
    z-index: 4;
    
}

 .navbar-light .navbar-nav .nav-link {
color: #2e2e2e;
    margin-left: 30px;
    cursor: pointer;
} 
.navbar-light .navbar-nav .nav-link:hover {
color: black;
}


#box {
    padding: 2%;
    width: 100%;
    height: 60%;
    background-color: #8fb3cf;
    position: fixed;
    z-index: -1;
    min-height: 230px;
}
#identity {
    position: absolute;
    bottom: -15%;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    align-content: flex-start;
}
@media (min-width: 640px) { .helloim{font-size:1.5rem;} } 
@media (min-width:960px) { .helloim{font-size:2.2rem;} } 
@media (min-width:1100px) { .helloim{font-size:3rem;} }
.helloim {
    margin-left:20%;
    padding-top: 15%;
    color: white;
    text-align: left;
    line-height: 5%;
}
@media (min-width: 480px) { .name{font-size:3rem;} } 
@media (min-width: 640px) { .name{font-size:3rem;} } 
@media (min-width:960px) { .name{font-size:5.2rem;} } 
@media (min-width:1100px) { .name{font-size:10.5rem;} }
.name {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    line-height: 95%;
}

.subtext {
    padding: 20px;
    font-weight: lighter;
}

/* 


PROJECT


*/
.project {
    padding: 20px;
    text-align: justify;
}
h3 {
    font-weight: bold;
    text-align: center;
}
.projecttext {
    padding-top: 50px;
}

.carousel img{
  max-height: 500px;
    object-fit: scale-down;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}
/* 


ABOUT


*/

#about {
    padding: 5%;
    text-align: justify;
}
#bio {
    width: 100%;
    padding-right: 2%;
}
#picofme img{
    width: 400px;
    border-radius: 50%;
    background-color: antiquewhite;
}

/* 


CONTACT 


*/
@media (min-width: 640px) { .form{float:none;} } 
@media (min-width:960px) { .form{float:left; width: 50%;
    padding-right: 20px;} .form2{margin-left: 50%;}} 
@media (min-width:1100px) { .form{float:left; width: 50%;    padding-right: 20px;} .form2{margin-left: 50%;}}
form{
    position: absolute;
    width: 100%;
    height: 500px;
    padding: 40px;
}
    .form {
    height: 250px;
        position: relative;
    border-radius: 3px;
         display: flex;
  flex-direction: column;
}
.form2 {
    position: relative;
    height: 250px;
}
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

       
}
::placeholder { 
  color: black;
  opacity: 1; 
    font-weight: bold;
}

.field {
     border: 3px solid black;
    border-left: none;
    border-radius: 0px 3px 3px 0px;
    width: 100%;  
    padding: 10px;
    margin: 10px 0px 10px 0px;
    
}
.form > div {
  /* these are the flex items */
  flex: 1;
}

#msg {
    border: 3px solid black;
    border-radius: 3px;
    width: 100%;
    max-height: 235px;
    padding: 20px;
}
@keyframes form {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}
.input-container {
  display: -ms-flexbox; 
  display: flex;
    height: 100%;
  width: 100%;
    flex-direction: row;
}
textarea {
    resize: vertical;
}
.icon {
    margin: 10px 0px 10px 0px;
    top:0px;
    padding: 15px;
    background: none;
    color: black;
    max-width: 50px;
    text-align: center;
    border: 3px solid black;
    border-right:none;
    border-radius: 3px 0px 0px 3px;
}

#button button{
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 3px solid black;
    padding: 20px;
    width: 100%;
    position: relative;
    margin-top:30px;
}
#button button:hover {
    background-color: #80a9c4;
    border: 3px solid #80a9c4;
    
}


/* width */
::-webkit-scrollbar {
  width: 0px;
}
/*


THANKS


*/
#thanks {
    position: relative;
    background-color:white;
    margin: auto;
    height:100%;
    padding: 0;
    overflow:auto;
    top: 100px;
    width: 80%;
}
.thanksidentity {
    position: relative;
    top: 300px;
}
.thanksidentity a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
    

/*


FOOTER


*/

@media (min-width: 640px) { .footer{font-size:.8rem;} } 
@media (min-width:960px) { .footer{font-size:.8rem;} } 
@media (min-width:1100px) { .footer{font-size:.8rem;} }
.footer {
    position: fixed;
    bottom: 0px;
    padding: 20px 0px; 20px; 0px;
    text-align: center;
    width: 100%;
    color: lightgray;
    background-color: white;
}
.footer img{
    width: 2%;
    margin-right: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}